<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ud.mapper.UdGoodsMapper">
    
    <resultMap type="UdGoods" id="UdGoodsResult">
        <result property="id"    column="id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsCount"    column="goods_count"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="parentId"    column="parent_id"    />
    </resultMap>

    <sql id="selectUdGoodsVo">
        select id, goods_name, goods_count, create_time, create_by, update_time, update_by, parent_id from ud_goods
    </sql>

    <select id="selectUdGoodsList" parameterType="UdGoods" resultMap="UdGoodsResult">
        <include refid="selectUdGoodsVo"/>
        <where>  
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsCount != null "> and goods_count = #{goodsCount}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
        </where>
    </select>
    
    <select id="selectUdGoodsById" parameterType="Long" resultMap="UdGoodsResult">
        <include refid="selectUdGoodsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUdGoods" parameterType="UdGoods">
        insert into ud_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="goodsName != null">goods_name,</if>
            <if test="goodsCount != null">goods_count,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="parentId != null">parent_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="goodsName != null">#{goodsName},</if>
            <if test="goodsCount != null">#{goodsCount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="parentId != null">#{parentId},</if>
         </trim>
    </insert>

    <update id="updateUdGoods" parameterType="UdGoods">
        update ud_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsName != null">goods_name = #{goodsName},</if>
            <if test="goodsCount != null">goods_count = #{goodsCount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUdGoodsById" parameterType="Long">
        delete from ud_goods where id = #{id}
    </delete>

    <delete id="deleteUdGoodsByIds" parameterType="String">
        delete from ud_goods where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>